<!--
  Navigation buttons at the bottom of the post.
-->

<div class="post-navigation d-flex justify-content-between">
  {% if page.previous.url %}
  <a href="{{ site.baseurl }}{{ page.previous.url }}?v={{ site.time | date:'%s' }}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[lang].post.button.previous }}">
    <p>{{ page.previous.title }}</p>
  </a>
  {% else %}
  <span class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[lang].post.button.previous }}">
    <p>-</p>
  </span>
  {% endif %}

  {% if page.next.url %}
  <a href="{{ site.baseurl }}{{page.next.url}}?v={{ site.time | date:'%s' }}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[lang].post.button.next }}">
    <p>{{ page.next.title }}</p>
  </a>
  {% else %}
  <span class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[lang].post.button.next }}">
    <p>-</p>
  </span>
  {% endif %}

</div>
